@import "reset.css";
@import "typography.css";
@import "setup.css";

* {
	/*outline:  3px solid red;*/
}

/*images*/
picture {
	display: block;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
}

