h1, h2 {
	line-height: 1;
}

h1 {
	font-size:  3em;
}

h2 {
	font-size:  1.5em;
}

inner-column {
	line-height: 1.5;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	padding:  10px;
}

.coffee-list strong {
	display:  block;
}

.coffee-list picture {
	max-width: 400px;
}

em {
	font-style: italic;
}

nav a {
	display: inline-block;
	padding:  .05em;
}

/*coffee page*/
.brand {
	margin-top: 30px;
	text-transform: capitalize;
	font-weight: bolder;
}

strong {
	font-weight: bolder;
}